
@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
}

* {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;  
}

:root {
    --primaryColor: #2196f3;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}



/* Navigation Bar */ 

.nav-bar{
  width: 100%;
  top: 20px;
  position: absolute;
  background: transparent !important;
}

.nav-bar .nav-title {
  margin-left: 100px;
  color: var(--mainWhite);
  font-weight: 600;
  font-size: 30px;
}

.nav-bar .nav-items {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 2px;
  margin-right: 100px;
}
  
.nav-bar .nav-items a {
  font-size: 20px;
  padding-right: 16px;
  color: var(--mainWhite);
}

.nav-bar .nav-items a:hover{
  color: var(--primaryColor);
  cursor: pointer;
}

.nav-bar .nav-btn{
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-bar .nav-btn .nav-icon {
  height: 2rem;
  width: 4rem;
}

@media screen and (max-width: 660px) {
 
  .nav-bar .nav-items a {
    display: none;
  }
  .nav-bar .nav-title {
    margin-left: 10px;
  }

  .nav-bar .nav-items {
    position: none;
    margin-right: 0px;
  }

  .nav-bar .nav-btn {
    display: flex;
    padding: 0px;
    color: var(--mainWhite);
  }
}
/* End Navigation Bar */

/* Hero */

.defaultHero {
  min-height: calc(100vh);
  background: url("./images/hero-img.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End Hero */

/* Banner */
.banner {
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  top: 200px;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 6.3rem;
  font-weight: 700;
}

.hero-call-to-action {
  width: 30%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  align-self: flex-end;
  color: var(--mainWhite);
}

.hero-call-to-action .hero-btn{
  margin: 0 auto;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  padding: 10px 15px;
  border: none;
  border-radius: 24px;
  margin-bottom: 1rem;
}

.hero-call-to-action .hero-btn .banner-icon:hover{
  color: var(--mainBlack);
}

.hero-call-to-action .hero-btn:hover{
  cursor: pointer;
  background-color: var(--mainWhite);
}

@media screen and (max-width: 660px) {
  .banner {
    padding: 2rem 3rem;
    top: 120px;
  }
  .banner h1 {
    font-size: 3.4rem;
  }
}

/* End of Banner */

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.section-title h4 {
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* end of Title */

/* Features */
.features{
  text-align: center;
}

.features .feat-title {
  margin-top: 60px;
}

.grid-cont {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* FIRST ROW */
.grid-cont .info-1 {
  border-radius: 24px;
  width:100%;
  height: 50%;
  background-color: #F0F5F3;
}

.grid-cont .info-1 h4{
  font-weight: 700;
  font-size: 2.1rem;
  padding-top: 20px;
  margin: 0 40px;
}

.grid-cont .info-1 .info{
  padding-top: 20px;
  margin: 0 30px;
  padding-bottom: 20px;
}

.grid-cont .img-cont{
  width:100%;
  height: 100%;
  padding-bottom: 20px;
}

.grid-cont .img-cont img {
  border-radius: 24px;
}

@media screen and (max-width: 660px) {
  .grid-cont .info-1 {
    height: 100%;
  }

  .grid-cont .img-cont{
    margin: 0 auto;
    padding-top: 40px;
  }
  .grid-cont .img-cont img {
    display: flex;
    border-radius: 55px;
    width:100%;
    height: 100%;
  }
}

/* SECOND ROW */
.grid-cont .info-2 {
  border-radius: 24px;
  width:100%;
  height: 70%;
  background-color:#E5EEF5;
}

.grid-cont .info-2 h4{
  font-weight: 700;
  font-size: 2.1rem;
  padding-top: 20px;
  margin: 0 40px;
}

.grid-cont .info-2 .info{
  padding-top: 20px;
  margin: 0 30px;
  padding-bottom: 20px;
}

.grid-cont .img-cont-2{
  width:100%;
  height: 100%;
  padding-bottom: 20px;
}

.grid-cont .img-cont-2 img {
  border-radius: 24px;
}

@media screen and (max-width: 660px) {
  .grid-cont .info-2 {
    height: 100%;
  }

  .grid-cont .img-cont-2{
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .grid-cont .img-cont-2 img {
    display: flex;
    border-radius: 55px;
    width:100%;
    height: 100%;
  }
}

/* THIRD ROW */

.grid-cont .info-3 {
  border-radius: 24px;
  width:100%;
  height: 50%;
  background-color:#E7DDDB;
}

.grid-cont .info-3 h4{
  font-weight: 700;
  font-size: 2.1rem;
  padding-top: 20px;
  margin: 0 40px;
}

.grid-cont .info-3 .info{
  padding-top: 20px;
  margin: 0 30px;
  padding-bottom: 20px;
}

.grid-cont .img-cont-3{
  width:100%;
  height: 100%;
  padding-bottom: 20px;
}

.grid-cont .img-cont-3 img {
  border-radius: 24px;
}

@media screen and (max-width: 660px) {
  .grid-cont .info-3 {
    height: 100%;
  }

  .grid-cont .img-cont-3{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .grid-cont .img-cont-3 img {
    display: flex;
    border-radius: 55px;
    width:100%;
    height: 100%;
  }
}


/* TEAM ROW */

.grid-cont .team {
  border-radius: 24px;
  width:100%;
  height: 50%;
  background-color:#DECED8;
}

.grid-cont .team h4{
  font-weight: 700;
  font-size: 2.1rem;
  padding-top: 20px;
  margin: 0 40px;
}

.grid-cont .team .info{
  padding-top: 20px;
  margin: 0 30px;
  padding-bottom: 20px;
}

.grid-cont .img-team{
  width:100%;
  height: 100%;
  padding-bottom: 20px;
}

.grid-cont .img-team img {
  border-radius: 24px;
}

@media screen and (max-width: 660px) {
  .grid-cont .team {
    height: 100%;
  }

  .grid-cont .img-team{
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .grid-cont .img-team img {
    display: flex;
    border-radius: 55px;
    width:100%;
    height: 100%;
  }
}


/* Product Cards */

.products {
  align-content: center;
}

.products .prod-cards{
  margin: 0 auto;
  width: 60%;
}

@media screen and (max-width: 660px) {
  .products .prod-cards{
    width: 100%;
  }
}

/* end features */

/*  Card */

.card{
  display: flex;
  height: 10rem;
  width: 20rem;
  justify-content: center;
  overflow: hidden;
  box-shadow: 5px 10px 20px 1px var(--lightShadow);
}
.card .card-title{
  position: absolute;
  text-shadow: var(--mainBlack);
  color: var(--mainWhite);
  font-weight: 600;
  font-size: 30px;
  top: 40%;
  bottom: 50%;
  left: 37%;
  right: 20%;
}

.container-fluid .row .col-md-4{
  padding-bottom: 3rem;
  
}

@media screen and (max-width: 576px) {
  .card{
    height: 5rem;
    width: 20rem;
  }

}

/* End Card  */

/* Footer */
.footer{
  background-color: lightgray;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}