
:root {
    --primaryColor: #2196f3;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* Navigation Bar */ 

.nav-bar{
  width: 100%;
  top: 20px;
  position: absolute;
  background: transparent !important;
}

.nav-bar .nav-title {
  margin-left: 100px;
  color: var(--mainWhite);
  font-weight: 600;
  font-size: 30px;
}

.nav-bar .nav-items {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 2px;
  margin-right: 100px;
}
  
.nav-bar .nav-items a {
  font-size: 20px;
  padding-right: 16px;
  color: var(--mainWhite);
}

.nav-bar .nav-items a:hover{
  color: var(--primaryColor);
}

.nav-bar .nav-btn{
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-bar .nav-btn .nav-icon {
  height: 2rem;
  width: 4rem;
}

@media screen and (max-width: 600px) {
 
  .nav-bar .nav-items a {
    display: none;
  }
  .nav-bar .nav-title {
    margin-left: 10px;
  }

  .nav-bar .nav-items {
    position: none;
    margin-right: 0px;
  }

  .nav-bar .nav-btn {
    display: flex;
    padding: 0px;
    color: var(--mainWhite);
  }
}
/* End Navigation Bar */

/* Hero */

.defaultHero {
  min-height: calc(100vh - 66px);
  background: url("./images/hero-img.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End Hero */

/* Banner */
.banner {
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  top: 200px;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
  font-weight: 400px;
}

.hero-call-to-action {
  width: 30%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  align-self: flex-end;
  color: var(--mainWhite);
}

.hero-call-to-action .hero-btn{
  margin: 0 auto;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  padding: 10px 15px;
  border: none;
  border-radius: 17px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 576px) {
  
  .banner {
    padding: 2rem 3rem;
    top: 150px;
  }
  .banner h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 2rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 2px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* Features */
.features{
  margin-top: 20px;
}

.features .features-center .row{
  margin: 0 auto;
  align-items: center;
}

.the-team {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4rem;
}

/* end features */

/*  Card */

.card{
  height: 15rem;
  width: 25rem;
  justify-content: center;
  overflow: hidden;
  box-shadow: 5px 10px 20px 1px var(--lightShadow);
}
.card .card-title{
  position: absolute;
  text-shadow: var(--mainBlack);
  color: var(--mainWhite);
  font-weight: 600;
  font-size: 30px;
  top: 40%;
  bottom: 50%;
  left: 37%;
  right: 20%;
}

.container-fluid .row .col-md-4{
  padding-bottom: 6rem;
}

.container-fluid .row{
  padding-top: 3rem;
}

/* End Card  */

/* Footer */
.footer{
  background-color: lightgray;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}